
body {
    background-image: url("Bilder/\ skyer.jpg");
    background-size: cover;
    background-attachment: fixed; /* Fiksert bakgrunn mens du ruller */
    color:#000000;
    font-family: Georgia, sans-serif;
   
    
   }
   
h3 {
    color: #000000;
   }

header {
    background-color: #114358;
    color: #ffffff;
    text-align: center;
    padding: 10px 0; /* høgde */
    display: flex;
  h1{font-size:50px;
     font:bold;}
 a{font-size: 19px;}
    
}
    img{height: 115px;
        width: 115px;
        margin: right 100px;
        display: flex;
        margin-right: 65px;
        margin-left: 30px;
        margin-top: 20px;
    }

section {
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
    


img  {
   
   width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 400px;
    display: flex;
}
.fotter{
    background: #114358;
  }
 }
 .container {

    display: flex;
    align-items: center;
 }


nav ul {
 list-style: none;
 padding: 0; /*overskrift*/


}
nav li {
 display: inline;
 margin-right: 20px; /*lenker*/
}
main { 
 padding: 10px;
}
a {
 color: #ffffff;
 text-decoration-color: #ffffff;
}

#hoved {
 width: 65%;                /* bredde: 60 % av vinduet */
 margin: 100px auto;        /* 100 px over elementet, auto midtstiller det */
 padding: 40px;             /* luft mellom kantlinjene og innholdet */
 background-color: white;   /* hvit bakgrunnsfarge */
 border: 3px solid #f58f3c; /* rosa kantlinje */
}
#hoved2 {
 width: 80%;
 margin: 50px auto;
 padding: 40px;
 background-color: white; 
 border: 3px solid #f58f3c;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
